Repository kotokaze/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss,less}": "stylelint"
}

:warning: Fix tag object (#63)
  src/pages/categories/[slug].hook.ts
  src/pages/categories/[slug].page.tsx
Due: eslint

:fire: Remove datetime
  src/components/layouts/children/footer.tsx
Due: eslint

:fire: Remove datetime (#65)
  src/components/layouts/children/footer.tsx
Due: eslint

:white_check_mark: Upgrade deps
  package.json
  yarn.lock
Due: none

:warning: Resolve type error
  src/pages/api/preview/index.api.ts
  src/pages/api/preview/index.hook.ts
Due: eslint

:white_check_mark: Use FC instead of VFC
  src/components/card-list.tsx
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/navbar.tsx
  src/components/layouts/children/offcanvases.tsx
  src/components/layouts/children/scrollbar.tsx
  src/components/layouts/children/sidebar.tsx
  src/components/layouts/default.tsx
  src/components/layouts/with-sidebar.tsx
  src/components/meta.tsx
  src/components/pdf/loader.tsx
  src/components/pdf/renderer.tsx
  src/components/pdf/viewer.tsx
  src/components/pdf/worker.tsx
  src/components/social.tsx
Due: eslint

:white_check_mark: Remove window check
  src/hooks/useKey.ts
  src/hooks/useScrollProgress.ts
  src/pages/_app.page.tsx
Due: eslint

:white_check_mark: Use scrollY instead of pageYOffset
  src/hooks/useScrollProgress.ts
Due: eslint

:recycle: Upgrade to Next12.3 (#66)
  package.json
  src/components/card-list.tsx
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/navbar.tsx
  src/components/layouts/children/offcanvases.tsx
  src/components/layouts/children/scrollbar.tsx
  src/components/layouts/children/sidebar.tsx
  src/components/layouts/default.tsx
  src/components/layouts/with-sidebar.tsx
  src/components/meta.tsx
  src/components/pdf/loader.tsx
  src/components/pdf/renderer.tsx
  src/components/pdf/viewer.tsx
  src/components/pdf/worker.tsx
  src/components/social.tsx
  src/hooks/useKey.ts
  src/hooks/useScrollProgress.ts
  src/pages/_app.page.tsx
  src/pages/api/preview/index.api.ts
  src/pages/api/preview/index.hook.ts
  yarn.lock
Due: eslint

:sparkles: Add related article section
  src/components/card-list.tsx
  src/pages/blogs/[slug]/index.page.tsx
Due: eslint

:sparkles: Add related article section (#67)
  src/components/card-list.tsx
  src/pages/blogs/[slug]/index.page.tsx
Due: eslint

:white_check_mark: Fix base body style
  .github/workflows/ci.yml
  src/styles/themes/mixins/base.scss
Due: stylelint

:white_check_mark: Fix base body style (#69)
  .github/workflows/ci.yml
  src/styles/themes/mixins/base.scss
Due: stylelint

:warning: Fix unknown function lint error
  src/styles/themes/mixins/button.scss
Due: stylelint

:warning: Fix unknown function lint error (#70)
  src/styles/themes/mixins/button.scss
Due: stylelint

:white_check_mark: Fetch submodule on checkout action
  .github/workflows/ci.yml
Due: none

:pencil2: Fix typo
  .github/workflows/ci.yml
Due: none

:white_check_mark: Mixin social meta date
  src/components/meta.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/blogs/index.page.tsx
  src/pages/categories/[slug].page.tsx
  src/pages/index.page.tsx
  src/pages/info/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
  src/pages/slides/index.page.tsx
Due: eslint

:white_check_mark: Mark OG Image to required
  src/interfaces/objects.d.ts
Due: eslint

:fire: Remove unused social component
  src/components/social.tsx
Due: eslint

:white_check_mark: Mixin social component (#73)
  src/components/meta.tsx
  src/components/social.tsx
  src/interfaces/objects.d.ts
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/blogs/index.page.tsx
  src/pages/categories/[slug].page.tsx
  src/pages/index.page.tsx
  src/pages/info/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
  src/pages/slides/index.page.tsx
Due: eslint

:white_check_mark: Use account name instead of Url
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/sidebar.tsx
  src/pages/info/index.page.tsx
Due: eslint

:sparkles: Impl twitter intent button
  src/components/twitter-intent.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:sparkles: Impl twitter intent button (#75)
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/sidebar.tsx
  src/components/twitter-intent.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/info/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:fire: Remove redundant fetch
  src/interfaces/objects.d.ts
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/feed/index.hook.ts
Due: eslint

:memo: Fix API schemes in document
  docs/api-endpoints.md
Due: none

:fire: Remove redundant fetch (#76)
  docs/api-endpoints.md
  src/interfaces/objects.d.ts
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/feed/index.hook.ts
Due: eslint

:white_check_mark: Refactor front design
  src/components/layouts/children/footer.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:white_check_mark: Refactor front design (#77)
  src/components/layouts/children/footer.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:sparkles: Impl breadcrumb component
  src/components/breadcrumb.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:sparkles: Impl breadcrumb component (#78)
  src/components/breadcrumb.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

Revert ":sparkles: Impl breadcrumb component (#78)"
  src/components/breadcrumb.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

Revert ":sparkles: Impl breadcrumb component (#78)" (#79)
  src/components/breadcrumb.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:sparkles: Impl breadcrumb component
  package.json
  src/components/breadcrumb.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
  yarn.lock
Due: eslint

:sparkles: Impl breadcrumb component (#80)
  package.json
  src/components/breadcrumb.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
  yarn.lock
Due: eslint

:sparkles: Add toolchip on card list
  src/components/card-list.tsx
Due: eslint

:sparkles: Add toolchip on card list (#81)
  src/components/card-list.tsx
Due: eslint

:warning: Fix secret name on CI
  .github/workflows/ci.yml
Due: none

:warning: Fix secret name on CI (#84)
  .github/workflows/ci.yml
Due: none

:white_check_mark: Update submodule config
  .github/workflows/ci.yml
  .github/workflows/submodules.yml
Due: none
