Repository kotokaze/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss,less}": "stylelint"
}

:white_check_mark: Update submodule config (#85)
  .github/workflows/ci.yml
  .github/workflows/submodules.yml
Due: none

:white_check_mark: Use GITHUB_OUTPUT instead
  .github/workflows/ci.yml
Due: none

:white_check_mark: Update CI configs
  .github/workflows/submodules.yml
Due: none

:white_check_mark: Update ci config (#86)
  .github/workflows/ci.yml
  .github/workflows/submodules.yml
Due: none

:white_check_mark: Run test on Node18
  .github/workflows/ci.yml
Due: none

:recycle: Upgrade to node18
  .github/workflows/ci.yml
  app.yaml
Due: none

:recycle: Upgrade to Node18 (#88)
  .github/workflows/ci.yml
  app.yaml
Due: none

:sparkles: Add dependabot config
  .github/dependabot.yml
Due: none

:sparkles: Add dependabot config (#89)
  .github/dependabot.yml
Due: none

:white_check_mark: Use original stubs
  package.json
  src/components/pdf/loader.tsx
  src/components/pdf/renderer.tsx
  src/components/pdf/worker.tsx
  src/modules/pdfjs.ts
  yarn.lock
Due: eslint

:recycle: Resolve dependencies
  yarn.lock
Due: none

:white_check_mark: Refactor PDF (#101)
  package.json
  src/components/pdf/loader.tsx
  src/components/pdf/renderer.tsx
  src/components/pdf/worker.tsx
  src/modules/pdfjs.ts
  yarn.lock
Due: eslint

:sparkles: Build on CI
  .github/workflows/ci.yml
Due: none

:sparkles: Build on CI (#111)
  .github/workflows/ci.yml
Due: none

:white_check_mark: Update key to ED25519
  cloudbuild.yaml
Due: none

:white_check_mark: Use line break for args
  cloudbuild.yaml
Due: none

:white_check_mark: Quate image names
  cloudbuild.yaml
Due: none

:white_check_mark: Group up setup scripts
  cloudbuild.yaml
Due: none

:warning: Adjust node version
  cloudbuild.yaml
Due: none

:white_check_mark: Update cloudbuild configs (#117)
  cloudbuild.yaml
Due: none

:white_check_mark: Use secretEnv to access
  cloudbuild.yaml
Due: none

:white_check_mark: Use secretEnv to access (#119)
  cloudbuild.yaml
Due: none

:recycle: Upgrade eslint config to 13.3.0
  package.json
  yarn.lock
Due: none

:warning: Use Link to migrate to Next13
  src/components/breadcrumb.tsx
  src/components/card-list.tsx
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/navbar.tsx
  src/components/layouts/children/offcanvases.tsx
  src/components/layouts/children/sidebar.tsx
  src/components/twitter-intent.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/info/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
Due: eslint

:white_check_mark: Use next image
  next.config.js
  src/components/card-list.tsx
  src/components/layouts/children/sidebar.tsx
Due: eslint

:recycle: Migrate to Next13 (#158)
  next.config.js
  package.json
  src/components/breadcrumb.tsx
  src/components/card-list.tsx
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/navbar.tsx
  src/components/layouts/children/offcanvases.tsx
  src/components/layouts/children/sidebar.tsx
  src/components/twitter-intent.tsx
  src/pages/blogs/[slug]/index.page.tsx
  src/pages/info/index.page.tsx
  src/pages/slides/[slug]/index.page.tsx
  yarn.lock
Due: eslint

:white_check_mark: Add analytics notice on footer
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/offcanvases.tsx
Due: eslint

:white_check_mark: Add analytics notice on footer (#168)
  src/components/layouts/children/footer.tsx
  src/components/layouts/children/offcanvases.tsx
Due: eslint

:recycle: Upgrade action versions
  .github/workflows/ci.yml
Due: none

:white_check_mark: Shorten the dependabot PR name
  .github/dependabot.yml
Due: none

:white_check_mark: Update GH Actions and dependabot (#169)
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

:recycle: Upgrade setup node action
  .github/workflows/ci.yml
Due: none

:white_check_mark: Use built-in cache feature
  .github/workflows/ci.yml
Due: none

:tada: Initialize app
  .eslintrc.yaml
  .gitignore
  README.md
  env.d.ts
  next.config.mjs
  package-lock.json
  package.json
  public/next.svg
  public/vercel.svg
  src/app/api/hello/route.ts
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.module.css
  src/app/page.tsx
  tsconfig.json
  wrangler.toml
Due: eslint, stylelint

:sparkles: Install dependencies
  package-lock.json
  package.json
Due: none

:sparkles: Init linter/formatter
  .eslintrc.yaml
  .husky/pre-commit
  .lintstagedrc.yaml
  .prettierrc.yaml
  .stylelintrc.yaml
  tsconfig.json
Due: none

:sparkles: Reconfig for CF Workers
  .eslintrc.yaml
  .gitignore
  .lintstagedrc.yaml
  .node-version
  next.config.mjs
  package-lock.json
  package.json
  tsconfig.json
  wrangler.toml
Due: none

:white_check_mark: Configure assets
  .gitmodules
  public/next.svg
  public/vercel.svg
Due: none
