Repository kotokaze/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier

:white_check_mark: Use tm prefix for custom mixins
  src/app/posts/[slug]/page.tsx
  src/app/slides/[slug]/page.tsx
  src/components/elements/Preview/index.tsx
  src/components/layouts/WithSidebar/Aside/TagListCard.tsx
  src/components/layouts/WithSidebar/Aside/index.tsx
  src/styles/theme/mixins.scss
Due: eslint, stylelint, prettier

:white_check_mark: Update border-radius mixinis
  src/styles/components.scss
  src/styles/components/_import.scss
  src/styles/components/tm-rounded.scss
  src/styles/site.scss
  src/styles/theme/mixins.scss
Due: stylelint, prettier

:white_check_mark: Add tm-button
  src/components/elements/Preview/index.tsx
  src/styles/components/_import.scss
  src/styles/components/tm-button.scss
  src/styles/theme/variables.scss
Due: eslint, stylelint, prettier

:white_check_mark: Add home breadcrumb
  src/components/elements/Breadcrumb/index.tsx
Due: eslint, prettier

:white_check_mark: Update font sizes
  src/styles/theme/mixins/_import.scss
  src/styles/theme/variables/_import.scss
  src/styles/theme/variables/base.scss
Due: stylelint, prettier

:white_check_mark: Add generateMetadata export
  src/app/info/page.tsx
Due: eslint, prettier

:white_check_mark: Add ignore paths for deploy
  .github/workflows/deploy.yml
  package-lock.json
Due: none

:white_check_mark: Add name to workflow
  .github/workflows/cleanup-cache.yml
  .github/workflows/deploy.yml
Due: none

:sparkles: Add revalidate route
  src/app/api/draft/lib.ts
  src/app/api/draft/route.ts
  src/app/api/lib.ts
  src/app/api/revalidate/route.ts
Due: eslint, prettier

:white_check_mark: Don't save cache for tag push
  .github/workflows/bake.yml
Due: none

:white_check_mark: No cache on tag
  .github/workflows/bake.yml
Due: none

:white_check_mark: Push image anyway
  .github/workflows/deploy.yml
Due: none

:white_check_mark: Fix revalidate route algorithm
  src/app/api/revalidate/route.ts
Due: eslint, prettier

:wrench: Add missing '@stylistic/eslint-plugin'
  package-lock.json
  package.json
Due: none

:warning: Fix broke package lock file
  package-lock.json
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss,less}
  prettier: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,less})
