Repository kotokaze/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{css,scss,less}": "stylelint"
}

.lintstagedrc.yaml:

'*.{js,jsx,ts,tsx}':
  - 'eslint'
  - 'prettier'

'*.{css,scss,less}':
  - 'stylelint'
  - 'prettier'

:white_check_mark: Update build command
  package.json
  wrangler.toml
Due: none

:sparkles: Add deploy action
  .github/workflows/deploy.yml
  env.d.ts
  package.json
  wrangler.toml
Due: eslint, prettier

:warning: Ignore the entrypoint not found error
  .github/workflows/deploy.yml
  package.json
Due: none

:white_check_mark: Specify node version file
  .github/workflows/deploy.yml
Due: none

:warning: Fix unused scss import
  src/styles/site.scss
Due: stylelint, prettier

:warning: Build in the wrangler action
  .github/workflows/deploy.yml
Due: none

:warning: Generate .dev.vars for build
  .github/workflows/deploy.yml
Due: none

:sparkles: Containerize the app
  .eslintrc.yaml
  .gitignore
  README.md
  docker/Dockerfile
  docker/README.md
  docker/compose.yaml
  docker/private/.gitignore
  docker/private/microcms/.gitkeep
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/draft/route.ts
  src/lib/microcms/client.ts
  tsconfig.json
  wrangler.toml
Due: eslint, prettier

:sparkles: Add devcontainer
  .devcontainer/devcontainer.json
  .dockerignore
  docker/compose.yaml
Due: none

:sparkles: Build with Docker Bake
  .github/workflows/deploy.yml
  docker-bake.hcl
  docker/Dockerfile
  docker/compose.yaml
Due: none

:warning: Add missing secrets for MicroCMS
  .github/workflows/deploy.yml
Due: none

:white_check_mark: Add build cache
  .github/workflows/deploy.yml
Due: none

Revert "Containerize app"
  .devcontainer/devcontainer.json
  .dockerignore
  .eslintrc.yaml
  .github/workflows/deploy.yml
  .gitignore
  README.md
  docker-bake.hcl
  docker/Dockerfile
  docker/README.md
  docker/compose.yaml
  docker/private/.gitignore
  docker/private/microcms/.gitkeep
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/draft/route.ts
  src/lib/microcms/client.ts
  tsconfig.json
  wrangler.toml
Due: eslint, prettier

Revert "Revert "Containerize app""
  .devcontainer/devcontainer.json
  .dockerignore
  .eslintrc.yaml
  .github/workflows/deploy.yml
  .gitignore
  README.md
  docker-bake.hcl
  docker/Dockerfile
  docker/README.md
  docker/compose.yaml
  docker/private/.gitignore
  docker/private/microcms/.gitkeep
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/draft/route.ts
  src/lib/microcms/client.ts
  tsconfig.json
  wrangler.toml
Due: eslint, prettier

:warning: Fix metadata image name
  .github/workflows/deploy.yml
Due: none

:sparkles: Add LICENSE
  LICENSE
Due: none

:sparkles: Add delete the referenced old cache if available
  .github/workflows/deploy.yml
Due: none

:white_check_mark: Update cache path
  .github/workflows/deploy.yml
Due: none

:sparkles: Clean up cache on PR closed
  .github/workflows/cleanup-cache.yml
Due: none

:warning: Fix cachekeys
  .github/workflows/cleanup-cache.yml
Due: none

:white_check_mark: Update script
  .github/workflows/cleanup-cache.yml
Due: none

:white_check_mark: Select variant in hcl
  .github/workflows/deploy.yml
  docker-bake.hcl
Due: none

:sparkles: Add matrix to buld dev and prod
  .github/workflows/deploy.yml
Due: none

:white_check_mark: Rewrite with Reusable Actions
  .github/workflows/bake.yml
  .github/workflows/deploy.yml
Due: none

:warning: Fix syntax error
  .github/workflows/bake.yml
  .github/workflows/deploy.yml
Due: none

:white_check_mark: Update cache hit strategy
  .github/workflows/bake.yml
Due: none

:white_check_mark: latest with prefix on not prod env
  .github/workflows/bake.yml
Due: none

:white_check_mark: Fix typo
  .github/workflows/bake.yml
Due: none

:white_check_mark: Use pre-built image for devcontainer
  .devcontainer/devcontainer.json
  package.json
Due: none

:warning: Fix case-sensitive issue
  src/app/api/draft/route.ts
Due: eslint, prettier

:white_check_mark: Add const. notFound
  src/app/api/draft/route.ts
Due: eslint, prettier

:white_check_mark: Remove unnecessary string conversion
  src/app/api/draft/route.ts
Due: eslint, prettier

:white_check_mark: Resolve '@typescript-eslint/strict-boolean-expressions' warning
  src/app/api/draft/route.ts
Due: eslint, prettier

:white_check_mark: Refactor slug validation
  src/app/api/draft/lib.ts
  src/app/api/draft/route.ts
Due: eslint, prettier

:fire: Remove unnecessary dynamic export
  src/app/posts/[slug]/page.tsx
  src/app/slides/[slug]/page.tsx
Due: eslint, prettier

:white_check_mark: Add isPreview prop
  src/app/posts/[slug]/page.tsx
  src/app/slides/[slug]/page.tsx
Due: eslint, prettier
